/*In absolute positioning for FHD (1920x1080)*/
body {
    margin: 0;
}
html {
    overflow: hidden;
}
#container {
    position: relative;
    /*background-color: #00558f;*//*(WHO public website blue)*/
    background-color: #00365b; /*(WHO public website blue-darker)*/
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background: url(images/logos/RC65-logo.jpg)
}
#controlsAreaPod {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 155px;
    height: 315px;
    /*background-color: cadetblue;*/
}
#controlsArea {
    position: relative;
    top: 0px;
    left: 0px;
    width: 155px;
    height: 315px;
    /*background-color: deepskyblue;*/
}
.console td {
    padding: 0px;
    border: 5px solid black;
    text-align: center;
    opacity: 0.1;
}
.console #A, #A1 {
    font-size: 20px;
    font-weight: bold;
}
.console button {
    background: none;
    border: 0px solid black;
}
.console img {
    width: 54px;
}




/*timerArea*/
#timerArea {
    position: absolute;
    top: 0px;
    left: 1120px;
    width: 800px;
    height: 261px;
    /*background-color: blue;*/
}
#timerGroup {
    position: relative;
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    /*background-color: slateblue;*/
}
#timerGroup table {
    margin-left: auto;
    margin-right: auto;
    width: 680px;
    height: 240px;
    /*background-color: cornflowerblue;*/
}
#country_current {
    font-size: 40px;
    color: yellow;
    /*margin-left: 20px;*/
    text-align: center;
    margin-top: 900px;
    /*background-color: lightpink;*/
}
#timerPod {
    /*position: relative;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    width: 500px;
    height: 200px;
    /*background-color: #99fe00;*//**//*(green)*/
    /*background-color: #f4d75f;*//**//*(orange)*/
    /*background-color: #fd030d;*//**//*(red)*/
    /*background-color: deeppink;*/
}
#timer_public {
    font-size: 115px;
    font-family: "Franklin Gothic Book", Times, serif;
    color: white;
    /*background-color: lightpink;*/
}
#country_next {
    font-size: 35px;
    color: yellow;
    /*margin-left: 20px;*/
    text-align: center;
    margin-top: 900px;
    /*background-color: lightpink;*/
}
/*speakerArea*/
#speakerArea {
    position: absolute;
    width: 640px;
    height: 863px;
    top: 0px;
    left: 1280px;
    border-left: 1px solid white;
}
#speakerArea h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}
#speakerArea hr {
    width: 400px;
}
#listOfCountries {
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 60px;
}
.countryFieldP {
    color: white;
    font-size: 45px;
    margin-bottom: 30px;
}
#countryLP1 {

}
/*logoArea*/
#logoArea {
    position: absolute;
    width: 1920px;
    height: 216px;/*(1080/5-2, or the bottom 1/5 of the window -2px for the border)*/
    top: 864px;
    left: 0px;
    border-top: 1px solid white;
}
#en, #fr, #ge, #ru {
   /*float: left;
   width: 25%;
   height: 216px;
   position: relative;*/
}
#en img, #fr img, #ge img, #ru img {
    float: left;
    height: 135px;
    /*position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)*/
    padding: 38px;
}
